.task8_p{
   font-size: 20px;
   background-color: aqua;
}
.text-1{
   font-weight: bold ;
}
.text-2{
   font-style: italic;
}
.text-3{
   text-decoration: line-through;
}
.solid{
   border: solid;
}
.dashed{
   border: dashed;
}
.dotted{
   border: dotted;
}
.double{
   border: double;
}
.groove{
   border: groove;
border-color: rgb(45, 197, 3);
border-width: 5px;
}
.ridge{
border: ridge;
border-color: rgb(45, 197, 3);
border-width: 5px;
}
.inset{
   border: inset;
   border-color: rgb(45, 197, 3);
   border-width: 5px;
}
.outset{
   border: outset;
   border-color: rgb(45, 197, 3);
   border-width: 5px;
}
.bg-img{
   background-image: url('./img/task10.jpg');
   width: 500px;
   height: 500px;
   color: azure;
}
.bg-hex{
   background-color: #900000;
   color: #ffffff;
}
.bg-name{
   background-color: red;
}
.bg-rgb{
   background-color: rgb(3, 187, 197);
}

   .form_task:checked {
      border-color: #008000;
      box-shadow: 0 0 10px #008000;
   }
   .btn{
      background-color: blue;
      color: yellow;
      height: 200px;
      width: 400px;
      font-size: 80px;
      border-color:blue ;
      border-radius: 25px;
   }
   .btn:hover{
      background-color: yellow;
      color: blue;
      border-color:yellow;
   }
   .task11::first-letter{
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

   }
   .task11{
      font-size: 20px;
   }
   .greetings{
      background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
   }
   .parag {
      color: green;
      border: 1px solid black;
    }
    .prgrf1{
      font-size: 18px;
      font-family: 'Courier New', Courier, monospace;
    }
    .prgrf2{
      font-size: 20px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .prgrf3{
      font-size: 22px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }